
.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--spacing-sm);
  padding-bottom: var(--spacing-lg);
  margin: var(--spacing-lg);
  min-width: 300px;
  background-color: var(--surface-light);
  border-radius: var(--border-radius);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border: 1px solid transparent;
  cursor: pointer;
}

.card-container.selected {
  background-color: var(--surface-dark);
  color: var(--surface-light);
}

.card-container:hover {
  border: 1px solid var(--surface-dark);
}


.skip-size {
  font-size: var(--font-xl);
  padding: var(--spacing-sm) 0;
}

.pricing-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: var(--spacing-lg);
}

.total-price {
  font-size: var(--font-xxl);
  font-weight: 900;
}

.price-label {
  font-size: var(--font-sm);
  color: var(--text-secondary);
}

.skip-info-details {
  color: var(--text-secondary);
}

.skip-info-details.selected {
  color: var(--text-inverse);
}

.skip-info {
  font-size: var(--font-sm);
  padding-top: var(--spacing-sm);
}

.skip-info::before {
  content: "✔️ ";
}

.skip-info-warning {
  font-size: var(--font-sm);
  padding-top: var(--spacing-sm);
}

.skip-info-warning::before {
  content: "⚠️ ";
}