
.select-skip-page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.select-skip-page-container { 
  margin-top: var(--spacing-lg);
}

.select-skip-page-title {
  margin-top: var(--spacing-xl);
  font-size: var(--font-xxl);
  font-weight: 900;
}

.select-skip-page-description {
  padding-top: var(--spacing-xxs);
}

@media (min-width: 768px) {
  .select-skip-page-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1023px) {
  .select-skip-page-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}